<a href="{{ href }}" class="thumbnail thumbnail--{{ size|default('md') }}">
    {% if img is defined and img %}
        <span class="thumbnail__img thumbnail__img--{{ size|default('md') }}" style="background-image: url('{{ img }}');"></span>
    {% endif %}

    <span class="thumbnail__content">
        {% if btn.label is defined %}
            <span class="thumbnail__btn thumbnail__btn--{{ size|default('md') }} thumbnail__btn--theme-{{ btn.theme|default('default') }} thumbnail__btn--{{ btn.position }}">
                {{ btn.label }}
            </span>
        {% endif %}

        <span class="thumbnail__body thumbnail__body--{{ size|default('md') }}">
            {% block thumbnail_body %}{{ content|default('hello world') }}{% endblock %}
        </span>
    </span>
</a>
